* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    margin: 0 auto;
    padding: 120px;
    font-family: 'Noto Sans', sans-serif;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.nav-logo {
    font-family: 'Abhaya Libre', 'Noto Sans', sans-serif;
    font-weight: 800;
    font-size: 50px;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.nav-item {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

